<!-- Footer -->
<div class="tm-footer" style="margin-top: -100px">

    <!-- Instagram Photos -->
    <ul id="instafeed" class="tm-instaphotos"></ul>
    <!--// Instagram Photos -->

    <!-- Footer Top Area -->
    <div class="tm-footer-toparea tm-padding-section">
        <div class="container">
            <div class="widgets widgets-footer row">

                <!-- Single Widget -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-widget widget-newsletter">
                        <h6 class="widget-title">Our Expertise</h6>
                        <p class="foot-p">Superior quality of silver ornaments with Exquisite & Elegant designs has made
                            us one of the leading manufacturer, supplier & wholesaler of
                            in India. We offer our customers top-notch designs in every category with customized
                            solution as well with an expertise in manufacturing and designing silver ornaments as per
                            the customer’s requirement since 2001</p>

                    </div>
                </div>
                <!--// Single Widget -->
                <!-- Single Widget -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quicklinks">
                        <h6 class="widget-title">Useful Link</h6>
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/products">Products</a></li>
                            <li><a routerLink="/contact-us">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <!--// Single Widget -->

                <!-- Single Widget -->
                <!-- <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quicklinks">
                        <h6 class="widget-title">Special Product</h6>
                        <ul>
                            <li><a href="">aa</a></li>
                            <li><a href="">bb</a></li>
                            <li><a href="">cc
                            <li><a href="#">dd</a></li>
                            
                        </ul>
                    </div>
                </div> -->
                <!--// Single Widget -->
                <!-- Single Widget -->
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="single-widget widget-info">
                        <!--<a class="widget-info-logo" href="index.html"><img src="images/jpp2.png"
                                alt="logo"></a>
                        <p>Silver Fancy item</p>-->
                        <h6 class="widget-title">Contact Us</h6>
                        <ul>
                            <li><b>Address :</b>Lothada, Rajkot</li>
                            <li><b>Phone :</b><a href="tel:(+91) 9662522311">(+91) 9662522311</a></li>
                            <li><b>Email :</b><a href="mailto:info@ultrabathingconcepts.com">info@ultrabathingconcepts.com</a></li>
                        </ul>
                    </div>
                </div>
                <!--// Single Widget -->


            </div>
        </div>
    </div>
    <!--// Footer Top Area -->

    <!-- Footer Bottom Area -->
    <div class="tm-footer-bottomarea">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <p class="tm-footer-copyright">©
                        2023. Designed & Created by <a href="https://www.instagram.com/rutu_bhatt_/">Ghelani
                            Tulesh & Rutvik Bhatt</a></p>
                </div>
                <div class="col-md-5">
                    <div class="tm-footer-payment">
                        <img src="../../assets/payment-methods.png" alt="payment methods">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Footer Bottom Area -->

</div>
<!--// Footer -->