.breadcrumb-area {
    position: relative;
}

.breadcrumb-area div {
    position: absolute !important;
    top: 50%;
    left: 10%;
    color: white;
    cursor: pointer;
}

.selected-image {
    width: 450px;
    height: auto;
    border-radius: 5px;
}

.details-image:hover img {
    opacity: 60%;
    border-radius: 10px;
    transition: 0.5s;
}

.img-product {
    /* float: left; */
    width:  1600px;
    height: 220px;
    /* object-fit: cover; */
}

.product-animation {
    animation-name: slideFromBottom;
    animation-duration: 5.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideFromBottom {
    from {
      transform: translateY(100%); /* Start from bottom */
      opacity: 0;
    }
    to {
      transform: translateY(0); /* End at the original position */
      opacity: 1;
    }
  }
  