<!-- Preloader -->
<!-- <div class="tm-preloader">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="tm-preloader-logo">
                    <img src="images/jpp2.png" alt="logo">
                </div>
                <span class="tm-preloader-progress"></span>
            </div>
        </div>
    </div>
    <button class="tm-button tm-button-small">Cancel Preloader</button>
</div> -->
<!--// Preloader -->

<!-- Wrapper -->
<div id="wrapper" class="wrapper">

    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area breadcrumb-area">
        <img width="100%" height="400px" src="../../assets/bathservice-lp-spotlight.jpg">
        <div>
            <h2>Category Products</h2>
            <p><span routerLink="/">Home </span>/ Category</p>
        </div>
    </div>
    <!--// Breadcrumb Area -->

    <!-- Page Content -->
    <main class="page-content" style="padding-top: -100px;">
        <!-- Products Wrapper -->
        <div class="tm-products-area tm-section tm-padding-section bg-white">
            <div class="container">
                <div class="tm-shop-products">
                    <div class="row mt-30-reverse">
                        <div
                            class="col-xl-3 col-lg-4 col-md-6 col-sm-6 my-3 col-12 mt-50"
                            *ngFor="let product of allProductList; let i = index"
                        >
                            <div
                                class="product-card"
                                [@fadeInUp]="{ value: '', params: { delay: i * 100 } }"
                                (click)="moreProductDetails(product)"
                                (mousemove)="onMouseMove($event, product)"
                                data-bs-toggle="modal"
                                data-bs-target="#moreDetailsDialog"
                            >
                                <div class="product-image-wrapper">
                                    <img [src]="product.productImage" alt="product image" loading="lazy" class="img-product" />
                                    <div class="product-overlay">
                                        <span class="view-details">View Details</span>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">{{product.name}}</h6>
                                    <p class="product-code">Code: {{product.code}}</p>
                                </div>
                                <div
                                    class="ripple-effect"
                                    [@ripple]="rippleState"
                                    (@ripple.done)="onAnimationDone()"
                                    [style.left.px]="rippleX"
                                    [style.top.px]="rippleY"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>

<!-- more product details dialog -->
<div class="modal fade" id="moreDetailsDialog" tabindex="-1" aria-labelledby="moreDetailsDialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreDetailsDialog">{{productDetail?.name}} Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="product-main-image">
                            <img class="selected-image" [src]="selectedProductImage" alt="Selected Product">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="">
                            <h3 class="product-name">{{productDetail?.name}}</h3>
                            <p class="product-code">Code: {{productDetail?.code}}</p>
                            <div class="product-description" [innerHTML]="productDetail?.description"></div>
                        </div>
                        <div class="related-products">
                            <h4>Related Products</h4>
                            <div class="row">
                                <div class="col-4 mt-3 details-image" *ngFor="let item of productDetail?.allImages">
                                    <div class="related-product-item" (click)="selectedImage(item.image)">
                                        <img [src]="item?.image" alt="Related Product">
                                        <p class="item-code">Code: {{item.code}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
