<div id="wrapper" class="wrapper">

    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area breadcrumb-area" style="margin-bottom: 80px;">
        <img width="100%" height="400px" src="../../assets/bathroom-image.webp">
        <div>
            <h2>About Us</h2>
            <p><span routerLink="/">Home </span>/ Shop</p>
        </div>
    </div>
    <!--// Breadcrumb Area -->

    <!-- Features Area -->
    <div class="tm-section tm-feature-area bg-grey">
        <div class="container">
            <div class="row mt-30-reverse">
                <!-- Single Feature -->
                <div class="col-lg-4 mt-30" *ngFor="let item of [1,2,3]">
                    <div class="tm-feature">
                        <span class="tm-feature-icon">
                            <img src="../../assets/products/sincBasin.jpeg" alt="free shipping" loading="lazy">
                        </span>
                        <div class="tm-feature-content" style="margin-left: 20px;">
                            <h6>Best quality</h6>
                            <p>We provide best quality for all order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container mx-auto" style="margin-top: 90px;">
        <div class="col-md-6 col-12">
            <img src="../../assets/products/about_us_all_products.jpg">
        </div>
        <div class="col-md-6 col-12">
            <h3><b>Bathroom Luxury, Affordable for All.</b></h3>
            <p>in the realm of home design and personal comfort, the bathroom holds a special place. It's not just a
                functional space; it's a sanctuary where you begin and end your day. At [Your Bathroom Product Brand],
                we understand the significance of this space and are dedicated to enhancing your bathroom experience
                with our innovative range of products.
                <br><br>

                Our journey began with a simple yet profound idea: to transform bathrooms into havens of luxury and
                functionality. We believe that a well-designed bathroom can elevate your daily routine, offering not
                just practicality but also a touch of elegance and relaxation. That's why we've meticulously curated a
                collection of bathroom products that blend form and function seamlessly.
                <br><br>
                We understand that every bathroom is unique, just like the people who use them. That's why our product
                range is diverse, offering a plethora of options to cater to different tastes and requirements. From
                contemporary and minimalist designs to classic and timeless pieces, we have something for everyone.
                Whether you're renovating your bathroom or just looking to upgrade a few fixtures, [Your Bathroom
                Product Brand] has the solutions you need.
            </p>
        </div>
    </div>

    <app-footer></app-footer>
</div>