<!-- <div class="brochure-viewer">
  <div class="pdf-container" #pdfContainer>
    <div class="page-flip" [class.flipping]="isFlipping" [class.flip-left]="flipDirection === 'left'" [class.flip-right]="flipDirection === 'right'">
      <canvas></canvas>
    </div>
  </div>
  <div class="controls">
    <button (click)="onPrevPage()" [disabled]="pageNum <= 1">Previous</button>
    <span>Page {{pageNum}} of {{totalPages}}</span>
    <button (click)="onNextPage()" [disabled]="pageNum >= totalPages">Next</button>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
 -->
 <!-- <ngx-extended-pdf-viewer
 [src]="'https://ultrabathingconcepts.com/assets/products/ULTRA%20BATH%20CONCEPT%20BROCHURE%20DESIGN.-%2003-08-23.pdf'"
 pageViewMode="book"
 [showBorders]="false">
</ngx-extended-pdf-viewer> -->

<div class="pdf-container">
  <ngx-extended-pdf-viewer
    #pdfViewer
    [src]="'assets/products/ULTRA_BATH_CONCEPT_BROCHURE_DESIGN.pdf'"
    [useBrowserLocale]="true"
    [height]="'90vh'"
    [zoom]="'auto'"
    [minZoom]="0.5"
    [maxZoom]="3"
    [pageViewMode]="isMobile ? 'single' : 'book'"
    [page]="currentPage"
    [showBorders]="false"
    [showDownloadButton]="false"
    [showFindButton]="false"
    [showHandToolButton]="false"
    [showPagingButtons]="!isMobile"
    [showPresentationModeButton]="true"
    [showPrintButton]="false"
    [showSidebarButton]="true"
    [showZoomButtons]="true"
    [mobileFriendlyZoom]="'100%'"
    [spread]="isMobile ? 'off' : 'even'"
    (pageChange)="onPageChange($event)"
    (pdfLoadComplete)="onDocumentLoad($event)"
  ></ngx-extended-pdf-viewer>

  <div *ngIf="isMobile" class="mobile-navigation">
    <!-- <button
      class="nav-arrow left-arrow"
      (click)="prevPage()"
      [disabled]="currentPage <= 1"
    >
      &#8249;
    </button>
    <button
      class="nav-arrow right-arrow"
      (click)="nextPage()"
      [disabled]="currentPage >= totalPages"
    >
      &#8250;
    </button> -->
  </div>
</div>
