<!-- Preloader -->
<!-- <div class="tm-preloader">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="tm-preloader-logo">
                    <img src="images/jpp2.png" alt="logo">
                </div>
                <span class="tm-preloader-progress"></span>
            </div>
        </div>
    </div>
    <button class="tm-button tm-button-small">Cancel Preloader</button>
</div> -->
<!--// Preloader -->

<!-- Wrapper -->
<div id="wrapper" class="wrapper">

    <!-- Breadcrumb Area -->
    <div class="tm-breadcrumb-area breadcrumb-area">
        <img width="100%" height="400px" src="../../assets/bathservice-lp-spotlight.jpg">
        <div>
            <h2>Products</h2>
            <p><span routerLink="/">Home </span>/ Shop</p>
        </div>
    </div>
    <!--// Breadcrumb Area -->

    <!-- Page Content -->
    <main class="page-content">
        <!-- Products Wrapper -->
        <div class="tm-products-area tm-section tm-padding-section bg-white">
            <div class="container">
                <div class="tm-shop-products">
                    <div class="row mt-30-reverse">
                        <!-- Products -->
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 my-3 col-12 mt-50"
                            *ngFor="let product of allProductList">
                            <div (click)="moreProductDetails(product)" data-bs-toggle="modal"
                                data-bs-target="#moreDetailsDialog">
                                <img [src]="product.productImage" alt="product image" loading="lazy" 
                                class="img-product" style="height: 1236; width: 1600;"/>
                                <div class="tm-product-bottomside">
                                    <h6 class="tm-product-title">
                                        <p class="item-name d-flex justify-content-center ">{{product.name}}</p>
                                        <p class="item-name d-flex justify-content-center ">Code : {{product.code}}</p>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>

<!-- more product details dialog -->
<div class="modal" id="moreDetailsDialog" tabindex="-1" aria-labelledby="moreDetailsDialog" aria-hidden="true"
    style="padding-right: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreDetailsDialog">{{productDetail?.name }} Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <img class="selected-image" [src]="selectedProductImage">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 mt-3 details-image" *ngFor="let item of productDetail?.allImages">
                            <img [src]="item?.image" (click)="selectedImage(item.image)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>